{% extends "base.html" %} 

{% block title %}Admin{% endblock title%}


{% block content %}
<div>
  <h1>Admin overview</h1>
  <p>A list of loaned books and magazines.</p>
  <div>
    <h2>Books</h2>
    {% if bookloans.count %}
      <table>
        <tr>
          <th>Loaned by</th>
          <th>Title</th>
          <th>Author</th>
          <th>Publisher</th>
          <th>Days left</th>
        </tr>
        {% for bookloan in bookloans %}
        <tr>
          <td>{{bookloan.user.username}}</td>
          <td>{{bookloan.book.title}}</td>
          <td>{{bookloan.book.author}}</td>
          <td>{{bookloan.book.publisher}}</td>
          <td>{{bookloan.daysLeft}} </td>
        </tr>
        {% endfor %}
      </table>
    {% else %}
      <p>No books to return.</p>
    {% endif %}
    
    <h2>Magazines</h2>
    {% if magazineloans.count %}
      <table>
        <tr>
          <th>Loaned by</th>
          <th>Title</th>
          <th>Author</th>
          <th>Publisher</th>
          <th>Days left</th>
        </tr>
        {% for magazineloan in magazineloans %}
        <tr>
          <td>{{magazineloan.user.username}}</td>
          <td>{{magazineloan.magazine.title}}</td>
          <td>{{magazineloan.magazine.author}}</td>
          <td>{{magazineloan.magazine.publisher}}</td>
          <td>{{magazineloan.daysLeft}} </td>
        </tr>
        {% endfor %}
      </table>
    {% else %}
      <p>No magazines to return.</p>
    {% endif %}
  </div>
</div>
{% endblock content %}
