{% extends "base.html" %}

{% block title %} Change password {% endblock title %}


{% block content %}
<h1>Change password</h1>

<form action="{% url "user_app:change_password" %}" method="POST">
    {% csrf_token %}
    <input type="password" name="old_password" placeholder="Old Password">
    <input type="password" name="new_password" placeholder="Password">
    <input type="password" name="new_password_confirm" placeholder="Confirm Password">
    <button>Change Password</button>
</form>

{% if error_message %} <p>{{error_message}}</p> {% endif %}
{% endblock content %}