{% extends "base.html" %}

{% block title %} Profile {% endblock title %}

<!-- Main page -->
{% block content %}
<h1>Profile</h1>
<div>
    <h2>Welcome, {{user.username}}.</h2>
    <ul>
        <li><a href="{% url 'user_app:logout' %}">Log out</a></li>
        <li><a href="{% url 'user_app:change_password' %}">Change password</a></li>
        <li><a href="{% url 'user_app:delete_account' %}">Delete account</a></li>
    </ul>
    <p>This is a history of your loaned books and magazines.</p>
    <div>
        <h3>Books</h3>
        {% if bookloans.count %}
        <table>
            <tr>
                <th>Title</th>
                <th>Author</th>
                <th>Publisher</th>
                <th>Days left</th>
                <th>Returned</th>
                <th>Manage</th>
            </tr>
            {% for bookloan in bookloans %}
            <tr>
                <td>{{bookloan.book.title}}</td>
                <td>{{bookloan.book.author}}</td>
                <td>{{bookloan.book.publisher}}</td>
                <td>{% if bookloan.returned_timestamp is not None %} {% else %} {{bookloan.daysLeft}} days {% endif %}</td>
                <td>{% if bookloan.returned_timestamp is not None %} Yes {% else %} No {% endif %}</td>
                <td>{% if bookloan.returned_timestamp is not None %} Returned {% else %}<a href="{% url "user_app:return_item" "book" bookloan.book.id%}">Return</a> {% endif %}</td>
            </tr>
            {% endfor %}
        </table>
        {% else %}
            <p>You currently have no loaned books.</p>
        {% endif %}

   <h3>Magazines</h3>
    {% if magazineloans.count %}
      <table>
        <tr>
          <th>Title</th>
          <th>Publisher</th>
          <th>Days left</th>
          <th>Returned</th>
          <th>Manage</th>
        </tr>
        {% for magazineloan in magazineloans %}
        <tr>
          <td>{{magazineloan.magazine.title}}</td>
          <td>{{magazineloan.magazine.publisher}}</td>
          <td>{% if magazineloan.returned_timestamp is not None %} {% else %} {{magazineloan.daysLeft}} days {% endif %}</td>
          <td>{% if magazineloan.returned_timestamp is not None %} Yes {% else %} No {% endif %}</td>
          <td>{% if magazineloan.returned_timestamp is not None %} Returned {% else %}<a href="{% url "user_app:return_item" "magazine" magazineloan.magazine.id%}">Return</a> {% endif %}</td>
        </tr>
        {% endfor %}
      </table>
    {% else %}
      <p>You currently have no loaned magazines.</p>
    {% endif %}
    </div>
</div>

{% if error_message %} <p>{{error_message}}</p> {% endif %}
{% endblock content %}