<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <link rel="stylesheet" href="{% static "global/style.css" %}">
    <title>{% block title %} <!--- title inserted from other template --> {% endblock title %} - Library</title>
</head>
<body>
    <header>
        <nav>
            <ul>
                {% if request.user.is_authenticated %}
                    <li><a href="{% url 'library_app:index' %}">Home</a></li>
                    <li><a href="{% url 'user_app:profile' %}">Profile</a></li>
                {% else %}
                    <li><a href="{% url 'user_app:login' %}">Login</a></li>
                {% endif %}
                {% if request.user.is_staff %}  
                    <li><a href="{% url 'user_app:admin' %}">Admin</a></li>
                {% endif %}
            </ul>
        </nav>
    </header>

    <main>
        {% block content %}
        <!--- main content inserted here -->
        {% endblock content %}
    </main>
    <footer></footer>
</body>
</html>