{% extends "base.html" %}

{% block title %} Home {% endblock title %}

<!-- Main body part -->
{% block content %}
<h1>Library</h1>
<div id="items-list">
    <h2>Books</h2>
    <table>
        <tr>
            <th>Title</th>
            <th>Author</th>
            <th>Publisher</th>
            <th>Manage</th>
        </tr>
        {% for book in books %}
            <tr>
                <td>{{book.title}}</td>
                <td>{{book.author}}</td>
                <td>{{book.publisher}}</td>
                <td><a href="{% url "user_app:loan_item" "book" book.id%}">Loan Book</a></td>
            </tr>
        {% endfor %}
    </table>
    <h2>Magazines</h2>
    <table>
        <tr>
            <th>Title</th>
            <th>Author</th>
            <th>Publisher</th>
            <th>Manage</th>
        </tr>
        {% for magazine in magazines %}
            <tr>
                <td>{{magazine.title}}</td>
                <td>{{magazine.author}}</td>
                <td>{{magazine.publisher}}</td>
                <td><a href="{% url "user_app:loan_item" "magazine" magazine.id%}">Loan Magazine</a></td>
            </tr>
        {% endfor %}
    </table>
</div>
{% endblock content %}